html,
body {
  font-family: monospace;
  color-scheme: light dark;
  color: white;
  font-size: 16px;
  background-color: rgb(36, 36, 36);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

p {
  padding: 13px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}